parameters:
	ignoreErrors:
		-
			message: "#^Access to constant SLOT_NAME on an unknown class ProfessionalWiki\\\\NeoWiki\\\\Persistence\\\\MediaWiki\\\\Subject\\\\MediaWikiSubjectRepository\\.$#"
			count: 1
			path: src/Application/Actions/CreateSubject/CreateSubjectsAction.php

		-
			message: "#^Call to method addSubjectsToRevision\\(\\) on an unknown class ProfessionalWiki\\\\NeoWiki\\\\Persistence\\\\MediaWiki\\\\RevisionUpdater\\.$#"
			count: 1
			path: src/Application/Actions/CreateSubject/CreateSubjectsAction.php

		-
			message: "#^Call to static method newEmpty\\(\\) on an unknown class ProfessionalWiki\\\\NeoWiki\\\\EntryPoints\\\\Content\\\\SubjectContent\\.$#"
			count: 1
			path: src/Application/Actions/CreateSubject/CreateSubjectsAction.php

		-
			message: "#^Method ProfessionalWiki\\\\NeoWiki\\\\Application\\\\Actions\\\\CreateSubject\\\\CreateSubjectsAction\\:\\:getSubjectsContent\\(\\) has invalid return type ProfessionalWiki\\\\NeoWiki\\\\EntryPoints\\\\Content\\\\SubjectContent\\.$#"
			count: 1
			path: src/Application/Actions/CreateSubject/CreateSubjectsAction.php

		-
			message: "#^Parameter \\$revisionUpdater of method ProfessionalWiki\\\\NeoWiki\\\\Application\\\\Actions\\\\CreateSubject\\\\CreateSubjectsAction\\:\\:__construct\\(\\) has invalid type ProfessionalWiki\\\\NeoWiki\\\\Persistence\\\\MediaWiki\\\\RevisionUpdater\\.$#"
			count: 1
			path: src/Application/Actions/CreateSubject/CreateSubjectsAction.php

		-
			message: "#^Property ProfessionalWiki\\\\NeoWiki\\\\Application\\\\Actions\\\\CreateSubject\\\\CreateSubjectsAction\\:\\:\\$revisionUpdater has unknown class ProfessionalWiki\\\\NeoWiki\\\\Persistence\\\\MediaWiki\\\\RevisionUpdater as its type\\.$#"
			count: 1
			path: src/Application/Actions/CreateSubject/CreateSubjectsAction.php

		-
			message: "#^Method ProfessionalWiki\\\\NeoWiki\\\\Application\\\\Queries\\\\RunCypher\\\\RunCypherPresenter\\:\\:presentSummarizedResult\\(\\) has parameter \\$result with generic class Laudis\\\\Neo4j\\\\Databags\\\\SummarizedResult but does not specify its types\\: TValue$#"
			count: 1
			path: src/Application/Queries/RunCypher/RunCypherPresenter.php

		-
			message: "#^Method ProfessionalWiki\\\\NeoWiki\\\\Application\\\\QueryEngine\\:\\:runReadQuery\\(\\) return type with generic class Laudis\\\\Neo4j\\\\Databags\\\\SummarizedResult does not specify its types\\: TValue$#"
			count: 1
			path: src/Application/QueryEngine.php

		-
			message: "#^Cannot access offset 'format' on mixed\\.$#"
			count: 2
			path: src/Application/StatementListPatcher.php

		-
			message: "#^Cannot access offset 'value' on mixed\\.$#"
			count: 1
			path: src/Application/StatementListPatcher.php

		-
			message: "#^Parameter \\#1 \\$boolean of class ProfessionalWiki\\\\NeoWiki\\\\Domain\\\\Value\\\\BooleanValue constructor expects bool, mixed given\\.$#"
			count: 1
			path: src/Application/StatementListPatcher.php

		-
			message: "#^Parameter \\#1 \\$format of method ProfessionalWiki\\\\NeoWiki\\\\Application\\\\StatementListPatcher\\:\\:deserializeValue\\(\\) expects string, mixed given\\.$#"
			count: 1
			path: src/Application/StatementListPatcher.php

		-
			message: "#^Parameter \\#1 \\$json of method ProfessionalWiki\\\\NeoWiki\\\\Application\\\\StatementListPatcher\\:\\:deserializeRelationValue\\(\\) expects array, mixed given\\.$#"
			count: 1
			path: src/Application/StatementListPatcher.php

		-
			message: "#^Parameter \\#1 \\$number of class ProfessionalWiki\\\\NeoWiki\\\\Domain\\\\Value\\\\NumberValue constructor expects float\\|int, mixed given\\.$#"
			count: 1
			path: src/Application/StatementListPatcher.php

		-
			message: "#^Parameter \\#1 \\.\\.\\.\\$strings of class ProfessionalWiki\\\\NeoWiki\\\\Domain\\\\Value\\\\StringValue constructor expects string, mixed given\\.$#"
			count: 1
			path: src/Application/StatementListPatcher.php

		-
			message: "#^Parameter \\$format of class ProfessionalWiki\\\\NeoWiki\\\\Domain\\\\Statement constructor expects string, mixed given\\.$#"
			count: 1
			path: src/Application/StatementListPatcher.php

		-
			message: "#^Parameter \\#1 \\$string of function strtoupper expects string, string\\|null given\\.$#"
			count: 1
			path: src/CypherQueryFilter.php

		-
			message: "#^Parameter \\#2 \\$subject of function preg_match expects string, string\\|null given\\.$#"
			count: 2
			path: src/CypherQueryFilter.php

		-
			message: "#^Parameter \\#3 \\$subject of function preg_replace expects array\\|string, string\\|null given\\.$#"
			count: 1
			path: src/CypherQueryFilter.php
