<h1>Test template</h1>
<div id="neoWiki-factBox" style="background: lightgrey; border: 1px solid black; margin-bottom: 10px">
	<p style="padding-left: 10px">
		This page defines {{ subjectCount }} NeoWiki subjects.<br>
		<a href="{{ neoJsonUrl }}">View or edit JSON</a>
	</p>
</div>
