name: Neo CI (TypeScript)

on:
  push:
    paths:
      - '.github/workflows/neo-ci-ts.yml'
      - 'Neo/neojs/**'
  pull_request:
    paths:
      - '.github/workflows/neo-ci-ts.yml'
      - 'Neo/neojs/**'

jobs:
  build:
    name: "NeoJS build"

    runs-on: ubuntu-latest

    defaults:
      run:
        working-directory: ./Neo/neojs

    steps:
      - name: Checkout
        uses: actions/checkout@v4

      - name: Setup Node.js
        uses: actions/setup-node@v4
        with:
          node-version: '20'

      - name: Install dependencies
        run: npm install

      - name: Build
        run: npm run build

  test:
    name: "NeoJS tests"

    runs-on: ubuntu-latest

    defaults:
      run:
        working-directory: ./Neo/neojs

    steps:
      - name: Checkout
        uses: actions/checkout@v4

      - name: Setup Node.js
        uses: actions/setup-node@v4
        with:
          node-version: '20'

      - name: Install dependencies
        run: npm install

      - name: Test
        run: npm run test

  lint:
    name: "NeoJS linting"

    runs-on: ubuntu-latest

    defaults:
      run:
        working-directory: ./Neo/neojs

    steps:
      - name: Checkout
        uses: actions/checkout@v4

      - name: Setup Node.js
        uses: actions/setup-node@v4
        with:
          node-version: '20'

      - name: Silence warnings
        run: |
          echo "::remove-matcher owner=eslint-compact::"
          echo "::remove-matcher owner=eslint-stylish::"

      - name: Install dependencies
        run: npm install

      - name: Lint
        run: npm run lint
